@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Css for autofill background issshh */
/* #username-webkit-autofill, #password-webkit-autofill,
#username-webkit-autofill:hover, #password-webkit-autofill:hover,
#username-webkit-autofill:focus, #password-webkit-autofill:focus{
  transition: background-color 5000s;
  -webkit-text-fill-color: #111820 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: poppins;
  font-size: inherit;
  cursor: white;
  
} */
/* .input {
  -webkit-background-clip: text !important;
  background-clip:  text !important;
}
input, input:focus,input:hover, input:active{
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
} */


input:-webkit-autofill, 
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus{
  -webkit-background-clip: text !important;
  background-clip:  text !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: poppins;
  font-size: inherit;
  cursor: white;
  
}


/* #email, #password {
  -webkit-background-clip: text !important;
  background-clip:  text !important;
}
.test_input, .test_input:focus, .test_input:hover, .test_input:active{
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
  background-clip:  text !important;
  color: black;
}  */